@media (min-width: 768px) and (max-width: 1279px) {
  [data-storefront-standard-standard] .sw-web-header,
  [data-storefront-standard-standard] .sw-web-checkout-summary {
    position: static;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .storefronttabletlayout {
    grid-template-columns: minmax(0, 1fr) 280px;
  }

  .storefronttabletcategories {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .storefronttabletproducts {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .storefronttabletcheckout {
    grid-template-columns: minmax(0, 1fr) 300px;
  }

  .storefronttabletaccount {
    grid-template-columns: 280px minmax(0, 1fr);
  }
}
