STOREFRONT_PORT=4310
NEXT_PUBLIC_API_BASE_URL=https://api.fufu.wang
NEXT_PUBLIC_AUTH_ORIGIN=https://accounts.fufu.wang
NEXT_PUBLIC_CLIENT_VERSION=9.3.0
PUBLIC_MALL_SLUG=zhudatuan-storefront
PUBLIC_MEDIA_BASE_URL=https://media.zhudatuan.com
SFL_STOREFRONT_HOSTNAME=fufu.wang
SFL_STOREFRONT_APPLICATION=zhudatuan-storefront
