STOREFRONT_PORT=4410
NEXT_PUBLIC_API_BASE_URL=https://hbbtzn.com
NEXT_PUBLIC_AUTH_ORIGIN=https://accounts.hbbtzn.com
NEXT_PUBLIC_CLIENT_VERSION=9.3.0
PUBLIC_MALL_SLUG=hbbtzn
PUBLIC_MEDIA_BASE_URL=https://media.zhudatuan.com
